__pycache__/
cache_*/
build/
dist/
*.eggs/
*.egg-info/
*-[0-9].*/
pytgcalls/*
swig/*

*.gypd
*.tar.gz
*.pyc
*.pyd
*.whl
*.so
*.pdb

*.~*
~*
Thumbs.db
Desktop.ini
.DS_Store
*.bak
*.tmp

# Exceptions
!pytgcalls/__init__.py
!swig/*.i
!swig/*.swg
